<div class="media">
    <div class="media-content">
        <small>
            <%= member_signed_in? ? comment.member.username : "Anonymous" %>&nbsp;says: 
        </small>
        <p>
            <%= comment.body %>
        </p>
    </div>
    <% if member_signed_in? && comment.member == current_member %>
        <div class="panel-block level">
            <div class="level-item">
                <%= link_to edit_post_comment_path(comment.post, comment) do %>
                    <span class="icon"><i class="far fa-edit"></i></span>
                <% end %>
            </div>
            <div class="level-item">
                <%= link_to post_comment_path(comment.post, comment), method: :delete do %>
                    <span class="icon"><i class="far fa-trash-alt"></i></span>
                <% end %>
            </div>
        </div>
    <% end %>
</div>