<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box">
                <h2 class="title">Edit comment</h2>
                <%= render '/comments/form', comment: @comment %>
            </div>
        </div>
    </div>
</section>